@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.weather-card {
  @apply bg-gray-300 p-4 text-black rounded-lg col-span-2 flex py-16 justify-between items-center
}

.sub-card {
  @apply flex flex-col justify-center items-center
}

.sub-card > h3 {
  @apply text-lg
}

.sub-card > span {
  @apply text-5xl
}
